<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <%= form_for [@product, @rating] do |f| %>
      <%= f.label 'Rating out of 5' %>
      <%= f.text_field :rating %><br/>
      <%= f.label :description %>
      <%= f.text_field :description %><br/>
      <%= f.submit %>
    <% end %>

    <% if @product.ratings.present? %>

      <% @product.ratings.each do |comment| %>

        <% user = User.find_by id: comment.user_id %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= user.first_name%></strong>
            <span class="text-muted">reviewed on <%= comment.created_at %></span>
          </div>
          <div class="panel-body">
            <strong><%= comment.rating %>/5</strong>
            <p><%= comment.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </article>

</section>
